@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

body {
    font-family: 'Merriweather', serif;
}

/*------------------ Navbar ------------------*/
.navbar-custom{
    padding: 10px 150px;
    background-color: #231f20 !important;
}

.navbar-nav .active {
    color: #e09900 !important;
    font-weight: 700;
}

/*------------------ Header ------------------*/
.hero-image {
    /*-- Resource: Photo by Adam Jaime on Unsplash https://unsplash.com/photos/dmkmrNptMpw */
    background: url("../img/hero-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    min-width: 100%;
    position: relative;
    left: 0;
    right: 0;
}

.hero-text {
    position: absolute;
    color: #fafafa;
    top: 200px;
    bottom: 165px;
    left: 150px;
    right: 0;
}

.hero-text h1 {
    font-weight: 700;
    letter-spacing: 2px;
}

.hero-text h2 {
    position: absolute;
    font-weight: 300;
    line-height: 50px;
}

.hero-button {
    font-family: 'Merriweather', serif;
    position: relative;
    background-color: #231f20;
    color: white;
    min-height: 50px;
    font-size: 20px;
    font-weight: 700;
    margin: 90px 0;
    padding: 10px 15px;
}

.hero-button:hover {
    color: #e09900;
}

/*------------------ History Section ------------------*/
.history-section {
    background-color: #231f20;
    background-size: cover;
    padding: 80px 0;
    color: #fafafa;
}

.history-section h2 {
    color: #e09900;
}