@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


h1, h2, h3 {
    font-family: 'Merriweather', serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}



/*------------------ Navbar ------------------*/
.navbar-custom{
    padding: 10px 150px;
    background-color: #231f20 !important;
}

.navbar-nav .active {
    color: #e09900 !important;
    font-weight: 700;
}

/*------------------ Header ------------------*/
.hero-image {
    /*-- Resource: Photo by Adam Jaime on Unsplash https://unsplash.com/photos/dmkmrNptMpw */
    background: url("../img/hero-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    min-width: 100%;
    position: relative;
    left: 0;
    right: 0;
}

.hero-text {
    position: absolute;
    color: #fafafa;
    top: 200px;
    bottom: 165px;
    left: 150px;
    right: 0;
}

.hero-text h1 {
    font-weight: 700;
    letter-spacing: 2px;
}

.hero-text h2 {
    position: absolute;
    line-height: 50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
}

.hero-button {
    font-family: 'Merriweather', serif;
    position: relative;
    background-color: #231f20;
    color: white;
    min-height: 50px;
    font-size: 20px;
    font-weight: 700;
    margin: 90px 0;
    padding: 10px 15px;
}

.hero-button:hover {
    color: #e09900;
}

/*------------------ Tab Buttons ------------------*/

/* Resource: Code sourced from https://www.w3schools.com/howto/howto_js_tabs.asp */

.tab button {
    background-color: light grey;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: 400;
    float: right;
    margin-left: 10px;
    font-family: 'Open Sans', sans-serif;
}

.tab button:hover {
  background-color: #231f20;
  color: #fafafa;
}

.tab button.active {
  background-color: #e09900;
}

/*------------------ Tab Content ------------------*/

.tabcontent h3{
    color: #e09900;
    /*padding: 30px 0 10px 0;*/
}

.fa-map-marker, .fa-map {
    padding-right: 10px;
}

/*------------------ Search Distilleries Section ------------------*/
.searchDistilleries {
    padding: 120px 0;
}

.searchDistilleries h2 {
    color: #231f20;
    padding-bottom: 20px;
}

/*------------------ History Section ------------------*/
.history-section {
    background-color: #231f20;
    padding: 120px 0;
    color: #fafafa;
}

.history-section h2 {
    color: #e09900;
    padding-bottom: 10px;
}


/*------------------ Image Section ------------------*/

.image-section {
    background-color: #fafafa;
}

.image {
    padding: 120px 20px;
}

/*------------------ Footer ------------------*/
.footer {
    background-color: #231f20;
    min-height: 250px;
}

.footer img {
    height: 70px;
    margin-top: 70px;
}

/* Resource: https://www.w3schools.com/html/tryit.asp?filename=tryhtml_lists_menu */
ul {
  list-style-type: none;
  margin-top: 90px;
  overflow: hidden;
}

li {
  float: left;
  padding: 8px;
}

li a {
    color: white;
}

.footer li a:hover {
    color: #e09900;
    text-decoration: none;
}

/*------------------ Leaflet.js Map ------------------*/
#map {
    min-height: 600px;
    width: 100%;
}

.mapImage {
    max-height: 150px;
}

.mapTitle {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 0px;
}

/*------------------ Grid Section ------------------*/

.gridImage {
     max-height: 150px;
}

.gridDiv {
    padding: 30px;
    /*display: inline-block;*/
    background-color: rgb(236, 234, 234);
    border-radius: 5px;
    height: 750px;
    margin-bottom: 30px;
    margin-left: 10px;
}

.website-btn {
    background-color: #231f20;
    color: white;
}

.website-btn:hover {
    background-color: #e09900;
}